.input-true {
  padding-top: 100px;
}

.input-false {
    padding-top: 30px;
}

.container {
    padding-top: 40px;
}

.btn btn-outline-secondary:focus, .btn btn-outline-secondary:active {
   outline: none !important;
   box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid #422918;
}

#icon-1, #icon-2, #icon-3 {
    display: block !important;
    margin: auto !important;
    color: #ff9933;
}

#bad-tag-alert, #empty-tag-alert {
    position: absolute;
    z-index: 100;

}