<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<meta name="viewport" content = "width=device-width, initial-scale=1.0">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <span><img class="logo" src="/static/so-icon.png" width="60" height="60"></span>
        <a class="navbar-brand" href="#">Stack Overflow Datamine Interface</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4"><!--width is set by this div -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="azure-machine-learning" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="mine-devs">Mine</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div id="loading" style="display: none; padding-top: 2px">
                    <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
                </div>
             </div>
        </div>
    </div>

    <div class="jumbotron" id="welc-banner" style="display: none">
        <div class="container">
          <h1 class="display-3">Detailed Developer Mining</h1>
          <p>Enter a valid Stack Overflow tag, and extract detailed data about the developers that use this tag. </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div id="dev-tags" style="min-width: 310px; height: 450px; max-width: 600px; margin: 0 auto"></div>
            </div>
            <div class="col-6">
                <table id="tag-list-table" class="display" width="100%"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="dev-rep" style="min-width: 310px; height: 500px; max-width: 600px; margin: 0 auto"></div>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>

</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
<script type = "text/javascript" src = "/static/main.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</html>